{% extends 'base.html' %}
{% block content%}
<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg" data-setbg="{{url_for('static',filename='img/slider/1.jpg')}}">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Enter the Battle</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-item set-bg" data-setbg="{{url_for('static',filename='img/slider/2.jpg')}}">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>Enter the Battle</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 blog-posts">
					<div class="blog-post featured-post">
					{% for post in posts %}
						<img src="{{url_for('static',filename='img/blog/1.jpg')}}" alt="">
						<div class="post-date">{{post.date_posted}}</div>
						<h3>{{post.title}}</h3>
						<div class="post-metas">
							<div class="post-meta">{{post.author}}</div>
							<!-- <div class="post-meta">in <a href="#">Games</a></div>
							<div class="post-meta">3 Comments</div> -->
						</div>
						<p>{{post.content [:400]}} ...</p>>
						<a href="{{url_for('post-detail',post_id=post.id)}}" class="site-btn">Read More</a>
					</div>
							{% endfor %}	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog list section end -->

	<!-- Video section -->
	<div class="video-section">
		<div class="container">
			<div class="video-logo">
				<img src="{{url_for('static',filename='img/logo-2.png')}}" alt="">
				<p>2018s Best Game</p>
			</div>
			<div class="video-popup-warp">
				<img src="{{url_for('static',filename='img/video-bg.jpg')}}" alt="">
				<a href="https://www.youtube.com/watch?v=xzCEdSKMkdU" class="video-play"><i class="fa fa-play"></i></a>
			</div>
		</div>
	</div>
	<!-- Video section end -->
{% endblock %}